<div class="text-center bg-gray-50 text-orange-600 py-24 my-40">
    <h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12">
    Hello
    <span class="text-orange-600">I`m Mitten</span><br/>
    <span class="text-orange-600 font-thin">and I have interesting things</span></h1>
</div>
