<div class="text-center bg-gray-50 text-orange-600 py-24 my-40">
    <h1 class="font">
    Hello
    <span class="text-orange-600">I`m Mitten</span><br/>
    <span class="text-orange-600 font-thin">and I have interesting things</span></h1>
</div>
