<div class="block-title-home">
  <h1 class="title-home">
  Hello,
  <span class="text-orange-600">I`m Mitten</span><br/>
  <span class="text-orange-600 font-thin">and I have interesting things</span></h1>
</div>
