<%# i know its not good, but i dont know why @categories dont work %>
<div class="flex justify-center my-5">
  <% Category.all.each do |category| %>
    <button class=" mx-10 inline-block px-6 py-2.5 bg-black text-orange-600 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-white hover:shadow-lg focus:bg-white focus:shadow-lg focus:outline-none focus:ring-0 active:bg-white active:shadow-lg transition duration-150 ease-in-out">
      <%= link_to category.name, category %>
    </button>
  <% end %>
</div>