<h1 class="title-category">Category</h1>
<div class="flex justify-center my-5">
  <% @categories.each do |category| %>
    <%= link_to category.name, category, class: "header-link-sign ml-10" %>
  <% end %>
</div>

<div>
  <% @category.products.each do |product| %>
    <%= render 'categories/category_id', product: product %>
  <% end %>
</div>
