<h1 class="title-category">All products</h1>
<div class="flex justify-center my-5">
  <% @categories.each do |category| %>
    <%= link_to category.name, category_path(category), class: "header-link-sign ml-10" %>
  <% end %>
</div>

<div">
  <% @products.each do |product| %>
    <%= render 'products/product', product: product %>
  <% end %>
</div>
