<footer class="block-cart-footer">
  <div class="mr-4">Тop for your money</div>
  <div  class="block-with-cart">
    <div class="flex items-center w-8 h-8">
      <%= link_to cart_path(@current_cart) do %>
        <%= image_tag "shopping-bag.png" %>
      <% end %>
    </div>
  </div>
</footer>
